@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";
@use "../mixins/m_clear-list";

.users-list {
  @include m_clear-list.clear-list;

  padding: 8px;

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__user {
    @include ds-typography.r-s14-h16;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0;

    cursor: pointer;
    text-align: left;

    border: none;
    outline: none;
    background-color: transparent;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      border-radius: 50%;
    }

    span {
      @include ds-typography.m-s14-h21;

      display: block;

      box-sizing: border-box;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      padding-top: 5px;

      text-align: center;

      color: ds-colors.$white-900;
      border-radius: 50%;
      background-color: ds-colors.$green-700;
    }
  }
}
