@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";
@use "../mixins/m_center";

.sign-form {
  @include m_center.pf_center-all;

  display: none;

  width: 628px;

  background-color: ds-colors.$white-900;
  box-shadow: 0 4px 8px ds-colors.$shadow-500;

  &__shape {
    padding-right: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
  }

  &__header {
    padding: 25px 64px;

    background-color: ds-colors.$blue-600;
  }

  &__title {
    @include ds-typography.m-s24-h21;

    margin: 30px 0;

    text-align: center;

    color: ds-colors.$blue-gray-600;
  }

  &__input {
    display: block;

    margin-bottom: 16px;
  }

  &__checkbox {
    margin-top: 20px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;
  }

  &__link {
    color: ds-colors.$blue-600;

    &:hover {
      text-decoration: underline;
    }
  }
}
