@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";
@use "../mixins/m_clear-list";

.comments {
  &__list {
    @include m_clear-list.clear-list;
  }

  &__item {
    margin-top: 24px;

    p {
      @include ds-typography.r-s14-h21;
    }

    strong {
      @include ds-typography.r-s14-h21;

      color: ds-colors.$blue-600;
    }
  }

  &__user {
    @include ds-typography.r-s14-h16;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: left;

    background-color: transparent;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      border-radius: 50%;
    }

    span {
      @include ds-typography.m-s14-h21;

      display: block;

      box-sizing: border-box;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      padding-top: 5px;

      text-align: center;

      color: ds-colors.$white-900;
      border-radius: 50%;
      background-color: ds-colors.$green-700;
    }
  }

  &__form {
    margin-top: 24px;

    textarea {
      @include ds-typography.r-s14-h21;

      display: block;

      box-sizing: border-box;
      width: 100%;
      height: 90px;
      margin-top: 16px;
      padding: 16px;

      resize: none;
      transition: border-color 0.3s;

      color: ds-colors.$blue-gray-600;
      border: 1px solid ds-colors.$blue-gray-50;
      border-radius: 6px;
      outline: none;

      &:focus {
        border-color: ds-colors.$blue-600;
      }
    }

    button {
      @include ds-typography.m-s14-h21;

      display: block;

      margin: 0;
      margin-top: 15px;
      margin-left: auto;
      padding: 0;

      cursor: pointer;
      transition: opacity 0.3s;

      opacity: 0.5;
      color: ds-colors.$blue-gray-600;
      border: none;
      outline: none;
      background-color: transparent;

      &:hover {
        opacity: 1;
      }
    }
  }
}
