@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";

.tag {
  @include ds-typography.r-s10-h12;

  padding: 4px 8px;

  border-radius: 100px;

  &--pink {
    background-color: ds-colors.$pink-300;
  }

  &--orange {
    background-color: ds-colors.$yellow-300;
  }

  &--green {
    background-color: ds-colors.$green-100;
  }

  &--yellow {
    background-color: ds-colors.$yellow-100;
  }

  &--blue {
    background-color: ds-colors.$blue-300;
  }

  &--violet {
    background-color: ds-colors.$pink-200;
  }
}
